.conteiner{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}
/* section1  */
.section1{
	width: 100%;
	padding: 0px 34px 304px 147px;
	background-image: url('../images/background_img1.png');
	background-repeat: no-repeat;
}
/* header  */
header{
	width: 100%;
	/* border: 5px solid red; */
	margin-bottom: 1716px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ul{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 58px;
	font-size: 36px;
	color: #ffffff;
}
.section1_text{
	width: 80%;
	color:#C0B4B4;
	font-size: 64px;
    font-weight: 700;
	text-align: center;
}
li{
	transition-property: all;
	transition-duration: .5s;
	transition-delay: .1s;
}
li:hover{
	border: 5px solid #ffffff;
	cursor: pointer;
}

/* <!-- section2 --> */

.section2{
	width: 100%;
	padding: 90px 145px 140px 145px;
	background-color: #393838;
}
h1{
	font-size: 64px;
	font-weight: 400px;
	color: #FFFFFF;
	margin-bottom: 239px;
	display: flex;
	justify-content: center;
}
.cards{
	width: 90%;
	display: flex;
	justify-content: space-between;
	gap: 68px;
}
.card{
	width: 30%;
	height: 522px;
}
.card:hover{
	cursor: pointer;
	box-shadow: 40px 40px 30px black;
}