.conteiner{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

/* section1  */
.section1{
	width: 100%;
	height: 2414px;
	background-image: url('../images/background_img1.png');
	background-repeat: no-repeat;


}

/* header  */
header{
	width: 100%;
	padding: 52px 34px 52px 147px;
	/* border: 5px solid red; */
	display: flex;
	justify-content: space-between;
	align-items: center;

}
ul{
	display: flex;
	align-items: center;
	gap: 58px;
	font-size: 36px;
	color: #ffffff;
}


p{
	width: 100%;
	padding: 1716px 200px 304px 200px;
	color:#C0B4B4;
	font-size: 64px;
    font-weight: 700;
	align-items: center;

}